@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-weight: 400;

  --card-color: #2b286d;
  --card-border-color: #48469a;

  --card-hover-color: #3e3589;
  --card-hover-border-color: #6e63c0;

  --body-padding: 2rem;

  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove any default margins */
  flex-direction: column;
  background-image: linear-gradient(130deg, #2f1158, #1f1b4b, #1f1b4b);
}
