@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-weight: 400;

  --card-color: #2b286d;
  --card-border-color: #48469a;

  --card-hover-color: #3e3589;
  --card-hover-border-color: #6e63c0;

  --body-padding: 2rem;

  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* center the container horizontally */
  align-items: center; /* optional: center vertically */
  background: radial-gradient(#1c0c7e, #290292); /* optional background */
  font-family: "Roboto", sans-serif;
}
